.icon {
    height: 300px;
    padding: 2px;
    width: 100%;
    cursor: pointer;
}

.icon:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
}

.filter-container {
    text-align: center;
    margin: 2px;
}

.equipo-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-bottom: 1px solid #d9dad9;
}

.equipo-details>div {
    display: flex;
    align-items: center;
}

.equipo-details>div img {
    margin-right: 14px;
}

.equipo-detail {
    padding: 5px 10px;
    margin-top: 5px;
}

.ui-panel-content {
    padding: 1em;
}

.dark-theme :host ::ng-deep .equipo-details, .dark-theme :host ::ng-deep .equipo-detail {
    border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
    .equipo-details img {
        width: 75px;
    }
    .filter-container {
        text-align: left;
    }
}

.left-menu-style {
    background-color: whitesmoke;
    padding: 0px !important;
    margin-top: 7px;
    border: 1px solid #c8c8c8;
}

.card-background {
    background-color: #da291c;
}

.card-equipo {
    border: 1px solid #da291c;
    background: #fff;
    width: 100%;
}

.lbl-simulador {
    font-size: 16px;
    color: #0097ab;
    border: 1px solid whitesmoke;
}

.ui-button-simular {
    color: #ffffff;
    background-color: #0097ab;
    border: 1px solid #0097ab;
}

.card-header-equipo {
    padding: 10px;
    color: #222;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.no-padding-margin {
    padding: 0px !important;
    margin: 0px !important;
}

.subtitulos {
    margin: 15px 0px !important;
    color: #222;
    font-size: x-large !important;
}

.text-content {
    padding: 5px, 0px !important;
    color: #222;
    font-size: 16px !important;
}

.fondo-gris {
    background-color: whitesmoke;
}

.border-color-grey {
    border: 1px solid #c8c8c8;
}

.content-margin {
    margin: 5px;
}

.back-black {
    background: #222 !important;
    color: #fff !important;
    padding: 10px;
    margin-top: 10px !important;
}

.back-blue {
    background: #0097ab !important;
    color: #fff !important;
    padding: 10px !important;
}

.padding-right {
    padding-right: 45px;
}

.content-prices {
    text-align: center;
}

.padding-diez {
    padding: 10px !important;
}

.center-items {
    justify-content: center;
}

.center-items-vertical {
    display: flex;
    align-items: center;
}

.material-icons.md-12 {
    font-size: 12px;
    color: #da291c;
}

.mdl-grid {
    width: 100%
}

.material-icons.md-45 {
    font-size: 40px;
    color: #222;
    font-weight: lighter !important;
    height: 100%;
    width: 100%;
    padding-top: 3px;
    text-align: center;
}

.ui-card-body {
    padding: 0px !important;
}

.paddingDestacado {
    padding: 0px 5px !important;
}

.ui-dialog, .ui-dialog .ui-dialog-content {
    padding: 0 !important;
    overflow: hidden !important;
}

.card-pago {
    border: 1px solid lightgrey;
    background: white;
    width: 100%;
}

.card-p-content {
    padding: 10px;
    background-color: #fff !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(311,683,312)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ebebeb'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='385' height='320.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E") !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

.justify-content-center {
    justify-content: center;
}

.no-margin {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.no-padding {
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.center-items {
    justify-content: center;
}

.margin-t-2p {
    margin-top: 2px;
}

.p-dropdown {
    width: 14rem;
    font-weight: normal;
}

.product-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.product-description {
    margin: 0 0 1rem 0;
}

.product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.product-category {
    font-weight: 600;
    vertical-align: middle;
}

.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.product-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}

.product-list-item .product-list-detail {
    flex: 1 1 0;
}

.product-list-item .p-rating {
    margin: 0 0 .5rem 0;
}

.product-list-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}

.product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
}

.product-list-item .p-button {
    margin-bottom: .5rem;
}

.product-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
}

.product-grid-item .product-grid-item-top, .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-grid-item img {
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}

.product-grid-item .product-grid-item-content {
    text-align: center;
}

.product-grid-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
    .product-list-item {
        flex-direction: column;
        align-items: center;
    }
    .product-list-item img {
        width: 75%;
        margin: 2rem 0;
    }
    .product-list-item .product-list-detail {
        text-align: center;
    }
    .product-list-item .product-price {
        align-self: center;
    }
    .product-list-item .product-list-action {
        display: flex;
        flex-direction: column;
    }
    .product-list-item .product-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

